@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

@import "./common.scss";

html,
body,
#root {
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.8;
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

#header {
  font-size: 0.9rem;
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

#content-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#content {
  width: 1000px;
  padding: 30px 0 80px 0;
  margin: 0 auto;
}

.page-navigation {
  display: flex;
  justify-content: flex-end;
}

.btn-nav {
  font-size: 1rem;
  display: block;
  background-color: #ebf5fb;
  color: $primary-color;
  margin-top: 20px;
  border: 1px solid #d6eaf8;
  padding: 20px 40px;
  border-radius: 3px;

  &:hover {
    background-color: #d6eaf8;
  }

  &.disabled,
  &.disabled:hover {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

/*
  Checklist
*/
.checklist {
  padding: 30px 0 20px 0;
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
}

.option-box {
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  label {
    color: #444;
  }
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.15em;
  left: 0.22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #5dade2;
  transition: all 0.2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

[type="checkbox"]:checked + label {
  color: #5dade2;
}

[type="checkbox"]:checked + label:before {
  border: 2px solid $border-color;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid $border-color !important;
}

/*
  Range slider
*/
.range-slider-wrapper {
  padding: 25px 0;

  .text {
    margin-bottom: 20px;
  }

  .range-slider {
    padding-bottom: 20px;
  }

  .range-labels {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.string-block {
  display: flex;
  font-size: 16px;

  .character-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px;
  }
}
